@charset "UTF-8";

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

main > form > h1 {
    text-align: center;
}

form {
    padding: 120px;
    background-color: #a3c4b2;
    border-radius: 15px;
    box-shadow: 1px 1px 3px #707070;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main > form > input {
    margin: 10px;
    width: 90%;
    padding: 12px;
    border-radius: 10px;
    border: none;
}

main > form > button {
    cursor: pointer;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 14pt;
    width: 100%;
    margin-top: 120px;
}

@media screen and (max-width: 790px) {
    main {
        width: 95vw;
    }

    form {
        width: 100%;
        padding: 10%;
    }
}
